/*body {*/
    /*background-image: url(../../static/images/bg.jpg);*/
    /*background-size: cover;*/
/*}*/

#main_container {
    margin-top: 30vh;
    background-color: black;
}

.icon-bg {
    background-color: white;
    border-radius: 50%;

    border: none;
    outline: none;
}

.icon {
    width: 10vw;
    border-radius: 50%;
}


