/*body {*/
    /*background-image: url(../../static/images/bg.jpg);*/
    /*background-size: cover;*/
/*}*/

#main_container {
    margin-top: 30vh;
    background-color: black;
}

.icon-bg {
    background-color: white;
    border-radius: 50%;

    border: none;
    outline: none;
}

.icon {
    width: 10vw;
    border-radius: 50%;
}

#input_key_secret {
	margin-top: 30vh;
}

.title-name {
	transition-duration: 1s;
	text-align: center;
	align-content: center;
	align-items: center;
	color: black;
}

.title-name :hover, :action, :visited {
	transition-duration: 1s;
	color: black;
	text-decoration: underline;
}

