<!DOCTYPE html>
<html>
<head>
    <title>Analyzer</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
<div class="container align-items-center col-12">

    <!-- KEY:SECRET INPUT FIELD -->
    <div class="row indented">
        <div class="col-2"></div>

        <div class="col">
            <div class="input-group md-3">
                <input type="text" class="form-control" aria-label="Default" placeholder="KEY">
            </div>
        </div>
        <h3>:</h3>
        <div class="col">
            <div class="input-group md-3">
                <input type="text" class="form-control" aria-label="Default" placeholder="SECRET">
            </div>
        </div>

        <div class="col-2"></div>
    </div>
    <div class="row button">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary">Далее</button>
        </div>
    </div>
<div class="row indented">
                <div class="col title-name" id="instruction-tittle">
                    <h1><a class="title-name" href="#instruction-title">Что от меня хотят</a></h1>
                </div>
    <div class='container'>
        <div class='row mt-5'>
            <div class='col-12 col-lg-6 text-center text-lg-right pt-3'>
                <h2 class='mb-4'>1. </h2>
                <p class='lead'>От основ до реальных проектов по четырём направлениям: JS Backend, JS Frontend, PHP и Java.</p>
            </div>
            <div class='col-12 col-lg-6'>
            <img alt='' class='img-fluid' height='100' src='https://cdn2.hexlet.io/assets/screenshots/stack-5f16f43586a3a5e205dd3549841e0fb94c3020180ec28c6f680faa10437e61c8.png'>
            </div>
        </div>
        <hr class='my-5'>
<div class='row mt-3 flex-column-reverse flex-lg-row'>
<div class='col-12 col-lg-6'>
<img alt='' class='img-fluid' height='100' src='https://cdn2.hexlet.io/assets/screenshots/video-091342cc9af87aa01dcdf2cde2fc3cd266b2cc5a8f1b2ce4f00b7ee85cfd0e4f.png'>
</div>
<div class='col-12 col-lg-6 text-center text-lg-left pt-3'>
<h2 class='mb-4'>2. Видео и конспекты</h2>
<p class='lead'>Видео-уроки и текстовые материалы, с иллюстрациями и интерактивными блоками.</p>
</div>
</div>
        <hr class='my-5'>
<div class='row mt-3'>
<div class='col-12 col-lg-6 text-center text-lg-right pt-2'>
<h2 class='mb-4'>3. Упражнения</h2>
<p class='lead'>Практические задания в реальной среде разработки прямо в браузере, с автоматической проверкой и отчетами. Никаких симуляторов и игрушек, настоящий Linux в контейнере.</p>
</div>
<div class='col-12 col-lg-6'>
<img alt='' class='img-fluid' height='100' src='https://cdn2.hexlet.io/assets/screenshots/exercise-cba39f80c7563a84054096d683b4e5c3470e6042cb4d40417b5339fe15cd2b90.gif'>
</div>
</div>
    </div>
</div>
</body>