{% extends 'front/base.html' %}


{% block content %}
    <!-- KEY:SECRET INPUT FIELD -->
    <div class="row indented">
        <div class="col"></div>
        <div class="col-10">
            <h1 class="text-center">Введите данные приложения Bitbucket</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row indented">

        <div class="col-2"></div>

        <div class="col">
            <div class="input-group md-3">
                <input type="text" class="form-control" aria-label="Default" placeholder="KEY">
            </div>
        </div>
        <h3>:</h3>
        <div class="col">
            <div class="input-group md-3">
                <input type="text" class="form-control" aria-label="Default" placeholder="SECRET">
            </div>
        </div>

        <div class="col-2"></div>
    </div>
    <div class="row button">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <a href="{% url 'task-set' %}">
                <button type="button" href="https://google.com" class="btn btn-primary">Далее</button>
            </a>
        </div>
    </div>

    <div class="row indented">
        <div class="col title-name" id="instruction-tittle">
            <h1><a class="title-name" href="/#instruction-title">Что от меня хотят</a></h1>
        </div>

        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-lg-6 text-center text-lg-right pt-3">
                    <p class="lead"><h4>Перейдите на <a href="https://bitbucket.org">Bitbucket</a> и войдите в свой
                    аккаунт </h4</p>
                </div>
                <div class="col-12 col-lg-6">
                    <img class="img-fluid" height="100" src="../../static/images/screenshots/screenshot-step-1.png">
                </div>
            </div>
            <hr class="my-5">
            <div class="row mt-3 flex-column-reverse flex-lg-row">
                <div class="col-12 col-lg-6">
                    <img class="img-fluid" height="100"
                         src="../../static/images/screenshots/screenshot-step-2.png">
                </div>
                <div class="col-12 col-lg-6 text-center text-lg-left pt-3">
                    <p class="lead"><h4>Шаг 2.</h4></p>
                </div>
            </div>
            <hr class="my-5">
            <div class="row mt-3">
                <div class="col-12 col-lg-6 text-center text-lg-right pt-2">
                    <p class="lead"><h4>Шаг 3</h4></p>
                </div>
                <div class="col-12 col-lg-6">
                    <img class="img-fluid" height="100"
                         src="../../static/images/screenshots/screenshot-step-3.png">
                </div>
            </div>


            <hr class="my-5">
            <div class="row mt-3 flex-lg-row">
                <div class="col-12 col-lg-6">
                    <img class="img-fluid" height="100"
                         src="../../static/images/screenshots/screenshot-step-4.png">
                </div>
                <div class="col-12 col-lg-6 text-center text-lg-left pt-3">
                    <h2 class="mb-4">Инструкция 4</h2>
                    <p class="lead">Видео-уроки и текстовые материалы, с иллюстрациями и интерактивными блоками.</p>
                </div>
            </div>
            <hr class="my-5">
            <div class="row mt-3">
                <div class="col-12 col-lg-6 text-center text-lg-right pt-2">
                    <h2 class="mb-4">Инструкция 5</h2>
                    <p class="lead">Практические задания в реальной среде разработки прямо в браузере, с автоматической
                        проверкой и отчетами. Никаких симуляторов и игрушек, настоящий Linux в контейнере.</p>
                </div>
                <div class="col-12 col-lg-6">
                    <img class="img-fluid" height="100"
                         src="../../static/images/screenshots/screenshot-step-5.png">
                </div>
            </div>
            <hr class="my-5">
            <div class="row mt-3 flex-column-reverse flex-lg-row">
                <div class="col-12 col-lg-6">
                    <img class="img-fluid" height="100"
                         src="../../static/images/screenshots/screenshot-step-6.png">
                </div>
                <div class="col-12 col-lg-6 text-center text-lg-left pt-3">
                    <h2 class="mb-4">Инструкция 6</h2>
                    <p class="lead"></p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}