<!DOCTYPE html>
<html>
<head>
    <title>Analyzer</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
 </head>
<body>
	<div class="container align-items-center col-12" id="input_key_secret">
		<div class="row">
			<div class="col-2"></div>

			<div class="col">
				<div class="input-group md-3">
  					<input type="text" class="form-control" aria-label="Default" placeholder="KEY">
  				</div>
			</div>
			<div class="col">
				<div class="input-group md-3">
  					<input type="text" class="form-control" aria-label="Default" placeholder="SECRET">
  				</div>
  			</div>

  			<div class="col-2"></div>

		</div>
		<div class="row" style="margin-top: 10vh">
		<div class="col-2">
			
		</div>

		
		<div class="col title-name">
			<a href="#title-name" id="title-name" class="title-name"><h1>
				Что от меня хотят
			</h1></a>
		</div>
		<div class="col-2">
			
		</div>
		</div>
	</div>
</body>