<!DOCTYPE html>
<html>
<head>
    <title>Analyzer</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


</head>
<body>
<form role="form">


    <script language="javascript">
var items=1;
function AddItem() {
  div=document.getElementById("items");
  button=document.getElementById("add");
  items++;
  newitem="<strong>Поле " + items + ": </strong>";
  newitem+="<input type=\"text\" name=\"item" + items;
  newitem+="\" size=\"45\"><br>";
  newnode=document.createElement("span");
  newnode.innerHTML=newitem;
  div.insertBefore(newnode,button);
}
</script>
</head>
<body>
<form name="form1">
<div ID="items">
<strong>Поле 1: </strong><input type="text" name="item1" size="45"><br>
<input type="button" value="Добавить поле" onClick="AddItem();" ID="add">
</div>
</form>
</body>


    <div class="row nameOfTaskSet">
        <div class="col-1">
            <input type="submit" class="btn btn-info" value="Анализ">
        </div>
        <div class="col-6"></div>
        <div class="col-1">
            <button class="btn btn-secondary" onclick="addColumn()">+new</button>
        </div>
    </div>
</form>
</body>
<script>
    var items = 1;
    function addColumn() {
        alert('new column');
    }

    function removeColumn() {
        alert('remove column');
    }

</script>


</html>