<!DOCTYPE html>
<html>
<head>
    <title>Analyzer</title>

    <meta charset="utf-8">    

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">
    </script>
    <script type="text/javascript">
    	function appear(){
    		alert('Должно появиться то, что уже есть');
    	}
    </script>

</head>
<body>
		<div class="row">
			<div class="col-8">
			<div class="input-group mb-3" style="padding-top: 20px;">
  				<input type="text" class="form-control" placeholder="ссылка на репозиторий"  style="padding-right: 40px;">
  				<div class="input-group-append">
    			<button class="btn btn-primary" id="Button" onclick="appear()">Анализ</button>
  				</div>
			</div>
			</div>
			<div class="col-4">

			</div>
		</div>
</body>
	<body>

	<table border="1">
	<tr>
		<td>fdsa</td>
		<td>fads</td>
	</tr>

	</table>
	</body>
</body>
</html>
