<!DOCTYPE html>
<html>
<head>
    <title>Analyzer</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


    <script>
        function f() {
            console.log("hello");
        }
    </script>

</head>
<body>
<div class="container align-items-center col-12" id="main_container">
    <div class="row">
        <div class="col"></div>

        <div class="col col-auto">
            <div class="icon-bg">
                <img class="icon" src="../../static/images/github.png" alt="">
            </div>
        </div>

        <div class="col col-auto">
            <div class="icon-bg">
                <img class="icon" src="../../static/images/git.png" alt="">
            </div>
        </div>

        <div class="col col-auto">
            <div class="icon-bg">
                <button href="" class="icon-bg" onFocus="this.blur()">
                    <img class="icon" src="../../static/images/bitbucket.png" alt="">
                </button>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>
</body>
</html>
