<!DOCTYPE html>
<html>
<head>
    <title>Analyzer</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
<div class="container listOfStudent">
    <div class="row"> <!-- Один репозиторий -->
        <div class="col"></div>
        <div class="col-6">
        <a href="#" class="list-group-item list-group-item-action">
        <h5 class="list-group-item-heading">KovirzinDmitry11_701</h5>
        <p class="list-group-item-text">какая-то полезная информация</p>
        </a>
        </div>
        <div class="col"></div>
    </div>

    <div class="row"> <!-- Один репозиторий -->
        <div class="col"></div>
        <div class="col-6">
        <a href="#" class="list-group-item list-group-item-action">
        <h5 class="list-group-item-heading">KovirzinDmitry11_701</h5>
        <p class="list-group-item-text">какая-то полезная информация</p>
        </a>
        </div>
        <div class="col"></div>
    </div>


    <div class="row"> <!-- Один репозиторий -->
        <div class="col"></div>
        <div class="col-6">
        <a href="#" class="list-group-item list-group-item-action">
        <h5 class="list-group-item-heading">KovirzinDmitry11_701</h5>
        <p class="list-group-item-text">какая-то полезная информация</p>
        </a>
        </div>
        <div class="col"></div>
    </div>



    <div class="row"> <!-- Один репозиторий -->
        <div class="col"></div>
        <div class="col-6">
        <a href="#" class="list-group-item list-group-item-action">
        <h5 class="list-group-item-heading">KovirzinDmitry11_701</h5>
        <p class="list-group-item-text">какая-то полезная информация</p>
        </a>
        </div>
        <div class="col"></div>
    </div>

</div>
</body>