<!DOCTYPE html>
<html>
<head>
    <title>Analyzer</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">
    </script>
    <script src="appear.js"></script>

</head>
<body>

<div class="container listOfStudent">
    <div class="row"> <!-- Один репозиторий -->
        <div class="col-6 mx-auto">
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">TaskSet1</h5>
                <p class="list-group-item-text">какая-то полезная информация</p>
            </a>
        </div>
    </div>

    <div class="row"> <!-- Один репозиторий -->
        <div class="col-6 mx-auto">
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">TaskSet2</h5>
                <p class="list-group-item-text">какая-то полезная информация</p>
            </a>

        </div>

    </div>


    <div class="row"> <!-- Один репозиторий -->

        <div class="col-6 mx-auto">
            <a href="" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">TaskSet3</h5>
                <p class="list-group-item-text">какая-то полезная информация</p>
            </a>
        </div>

    </div>

    <div class="row"> <!-- Один репозиторий -->


        <div class="col-6 mx-auto">
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">TaskSet4</h5>
                <p class="list-group-item-text">какая-то полезная информация</p>
            </a>
        </div>
    </div>
</div>
<div class="row indented">
    <div class="col-6 image mx-auto text-right">
        <a href="newTaskSet.html"> <img src="../../static/images/add.png" style="height: 64px;">
    </div>
</div>
</body>
</html>

