<!DOCTYPE html>
<html>
<head>
    <title>Analyzer</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img src="https://pre00.deviantart.net/6383/th/pre/f/2013/214/b/8/time_machine_flat_icon_by_packrobottom-d6g9yjm.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Time Machine
  </a>
</nav>
</body>