{% extends 'front/base.html' %}

{% block title %}
    Create new task
{% endblock %}

{% block content %}
    <div class="row">
        <h1>Create new task for {{ taskset.title }}</h1>
    </div>

    <form action="#" enctype="multipart/form-data" method="POST" class="row">
        {% csrf_token %}

        <div class="col-8">
            <div class="row form-group">
                <label>Task title</label>
                <input name="title" type="text" class="form-control" placeholder="Task 1-0-1" required>
            </div>

            <div class="row form-group">
                <label>Task description (optional)</label>
                <textarea name="description" class="form-control" placeholder="Turn on your computer"></textarea>
            </div>
        </div>
        <div class="col-1"></div>

        <div class="col-3">
            <div class="row form-group">
                <label for="timeFromInputField">extension</label>
                <input name="time_from" type="datetime-local" class="form-control" id="timeFromInputField" required>
            </div>
            <div class="row form-group">
                <label for="timeToInputField">deadline</label>
                <input name="time_to" type="datetime-local" class="form-control" id="timeToInputField" required>
            </div>
            <div class="row form-group">
                <input type="submit" class="btn btn-primary" value="save task">
            </div>
        </div>

    </form>
{% endblock %}