<!DOCTYPE html>
<html>
<head>
    <title>Analyzer</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

</head>
<body>
<form role="form" method="POST">
    <div class="row">
        <div class="col-6 nameOfTaskSet">
            <div class="form-group">
                <input name="title" type="text" class="form-control" placeholder="Название тасксета"/>
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control description" placeholder="Описание"></textarea>
            </div>
        </div>
        <div class="col-2 nameOfTaskSet">
            <div class="form-group">
                <label>начало выполнения</label>
                <input  name="from" type="date" class="form-control">
            </div>
            <div class="form-group">
                <label>дедлайн</label>
                <input name="to" type="date" class="form-control">
            </div>
            <div class="form-group"><input type="submit" class="btn btn-info" value="Сохранить и задать task"></div>
        </div>
    </div>
</form>
</body>


</html>