{% extends 'front/base.html' %}

{% block title %}
    Create new Taskset
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col mx-auto text-center" style="margin-bottom: 10vh; margin-top: 5vh;"><h1>Create new taskset</h1></div>
    </div>

    <form action="{% url 'create_task_set' %}" enctype="multipart/form-data" method="POST" class="row">
        {% csrf_token %}

        <div class="col-8">
            <div class="row form-group">
                <label>Taskset title</label>
                <input name="title" type="text" class="form-control" placeholder="Taskset 1k 1g" required>
            </div>

            <div class="row form-group">
                <label>Taskset description (optional)</label>
                <textarea name="description" class="form-control" placeholder="Description"></textarea>
            </div>
        </div>

        <div class="col-1"></div>

        <div class="col-3">
            Otional
            <div class="row form-group">
                <label>time_from</label>
                <input name="time_from" type="datetime-local" class="form-control">
            </div>
            <div class="row form-group">
                <label>deadline</label>
                <input name="time_to" type="datetime-local" class="form-control">
            </div>
            <div class="row form-group">
                <input type="submit" class="btn btn-primary" value="save task">
            </div>
        </div>

    </form>

{% endblock %}