{% extends 'front/base.html' %}

{% block title %}
    Task Set List
{% endblock %}

{% block content %}
    {% for ts in tasksets %}
        <div class="row">
            <div class="col">
                {{ ts.author }}
            </div>
            <div class="col">
                <a href="/tasksets/{{ ts.number }}/">
                    {{ ts.title }}
                </a>
            </div>
            <div class="col">
                {{ ts.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}


