{% extends 'front/base.html' %}

{% block title %}
    Taskset #{{ taskset.number }}
{% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ taskset.title }}</h1>
    </div>

    <!--<div class="row">
        {{ taskset.description }}
    </div>-->


    <div class="row">
        <h3>Tasks:</h3>
    </div>

    {% if tasks %}
        {% for task in tasks %}
            <div class="row">
                <div class="col" style="outline: 1px solid #666;">{{ task.number }}. {{ task.title }}</div>
                <div class="col" style="outline: 1px solid #666;">{{ task.description }}</div>
                <div class="col" style="outline: 1px solid #666;">
                    <div>{{ task.time_from }}</div>
                    <div>{{ task.time_to }}</div>
                </div>
                <div class="col">

                    <a href=""><img src="../../static/images/edit.png" style="width: 64px;"></a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col"><h6>No tasks</h6></div>
        </div>
    {% endif %}


    <div class="row" style="margin-top: 5vh;">
        <div class="col-6">
            <a class="btn btn-primary" href="{% url 'create_task' number=taskset.number %}" role="button">new task!</a>
        </div>

        <div class="col-4 text-right">
            <a class="btn btn-success" href="{% url 'test' number=taskset.number %}" role="button">TEST!</a>
        </div>
    </div>

{% endblock %}