{% extends 'front/base.html' %}

{% block content %}
    <div class="row">
        <from action="/" method="POST">
            <div class="form-row align-items-center">

                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="link-input-field"
                               placeholder="https://github.com/octocat/Hello-World">
                    </div>
                </div>

                <div class="col-auto">
                    <input type="submit" class="btn btn-primary mb-2">
                </div>

            </div>
        </from>
    </div>

    <div class="row">
        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="name">
            <input type="submit">
        </form>
    </div>
{% endblock %}